#listing_body{
    font-family: 'Playfair Display';
    font-size: 18px;
    color: #A31037; 
}    
#mville_header{
    font-family: 'Playfair Display';
    font-size: 22px;
    color: #A31037;

}
#header_img{
    height: 22px;
    padding: 10px;
    vertical-align: text-bottom;
}
#mville_sub{
    font-family: 'Playfair Display';
    font-size: 18px;
    color: #A31037;
}
.listBtn{
    font-family: 'Playfair Display';
    font-size: 18x;
    padding: 15px;
    background-color: #A31037;
    border-radius: 25px;
    color: #FFFFFF;
    border: #A31037;
    width: 10em;
    margin-top: 1em;
    
}
#listings{
    margin-top: 10%;
}
input[type=file]::file-selector-button {
   
    font-family: 'Playfair Display';
    padding: .2em .4em;
    background-color: #A31037;
    border-radius: 25px;
    color: #FFFFFF;
    border: #A31037;
    width: 10em;
  
  }
  