html{
    text-align: center;
    background-color: #A31037;
    
}
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #A31037;
}
#welcomeBody{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 100px;
   
}
#titlePage{
    font-family: 'Playfair Display';
    font-size: 48px;
    color: #A31037;
    text-align: left;
    padding-left: 25px;
    position: inherit;
    margin-top: 0px;
}
#titleDisc{
    font-family: 'Playfair Display';
    font-size: 22px;
    color: white
}
#header_img{
    height: 48px;
    padding: 10px;
    vertical-align: text-bottom;
    
}
#welcomeObj{
    font-family: 'Playfair Display';
    font-size: 18px;
    color: white;
    text-align: left;
}
#topnav{
    height: 70px;
    background-color: white;
    width: 100%;
    text-align:center;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
   

}
#welcomeSlide{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
.welcomeLink{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.slide{
    list-style: none;
    display: inline-block;
    margin-left: -15%;
    margin-right: -15%;
    
}
.welcomeImg1{
    filter: brightness(30%);
    width: 460px;
    height: 260px;
    
    border-radius: 230px;
}
.welcomeImg2{
    filter: brightness(100%);
    width: 460px;
    height: 260px;
    z-index: 1;
    position:relative;
    border-radius: 230px;
}
.welcomeImg3{
    filter: brightness(30%);
    width: 460px;
    height: 260px;
   
    border-radius: 230px;
}
#SignIn{
    align-items: right;
    position: inherit;
    margin-right: 200px;
    border:#A31037;
    border-style: solid;
    border-width: 3px;
    border-radius: 23px;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: -200px;
}
#topnavLog{
    height: 25px;
    background-color: white;

    margin-top:73px;
}
.navItem{
    list-style: none;
    display: inline-block;
    color:#A31037;
    width: 25%;
    
}
.navLink{
    text-decoration: none;
    color:#A31037;
    font-size: 18px;
}